<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="header.component.css">


</head>


<body>
<div class="head">
  <div>
      <label class="invoice">{{'INVOICES' | translate}}</label>
    <br>
      <label>{{'THEREARE' | translate}}<span
              style="color: #7C5DF9 ; font-weight: bold ; font-size: 20px">{{documentCount$ | async}} </span>{{'TOTALINVOICE' | translate}}
      </label>
  </div>


  <div class="select-container">
      <select id="dropdown" class="custom-select" [(ngModel)]="selectedFilter" (change)="onFilterChange()">
          <option value="">{{'FILTERBY' | translate}}</option>
          <option value="draft">{{'DRAFT' | translate}}</option>
          <option value="paid">{{'PAID' | translate}}</option>
    </select>
  </div>

  <button type="button" class="addbutton" (click)="toggleSidebar()">
    <span class="btn-label">
      <i class='bx bxs-plus-circle'></i>
    </span>
      <span style="padding-left: 5px">{{'NEWINVOICE' | translate}}</span>
  </button>

</div>
<div>
    <app-add-invoice [isSidebarOpen]="isSidebarOpen"></app-add-invoice>
</div>


</body>
</html>


