/* styles.css */

.green-div {
    background-color: #00d600;
    color: white;
    text-align: center;
    padding: 10px; /* Adjust the padding to your liking */
}

.success-message {
    margin: 0;
}

.card {
    width: 33rem;
    height: 16rem;
    margin: auto;
}

.card-body {
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent; /* Set a background color for the body */
    margin: 0; /* Remove default body margin */
}
