<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="updated.component.css"> <!-- Link to your CSS file -->
</head>
<body>
<div class="card">
    <div class="green-div">
        <h2 class="success-message">Updated Success</h2>
    </div>
    <div class="card-body">
        <h2 class="card-text">Invoice Updated Successfully</h2>
        <button (click)="goToUpdate()" class="btn btn-primary" style="width: 56% ; background-color: #1F213A">OK
        </button>
    </div>
</div>
</body>
</html>




