/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply basic styling to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    position: relative; /* Add position relative to body */
}

/* Style the sidebar container */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
    width: 5%;
  height: 100%;
    background-color: #1E213A;
    padding-top: 15px;
    z-index: 1000; /* Set a high z-index to overlay all components */
    transition: left 0.3s ease-in-out; /* Add transition for smooth slide-in/out */
}

/* Show the sidebar when a class is applied */
.sidebar.active {
  left: 0;
}

/* Style the logo */
.logo {
    text-align: center;
}

.logo i {
    font-size: 60px;
}

/* Style the bottom buttons section */
.bottom-buttons {
  position: absolute;
    bottom: 20px;
  width: 100%;
}

/* Style the buttons */
.dark,
.language,
.logout {
    text-align: center;
    margin-bottom: 15px;
}

.profile {
    text-align: center;
    margin-bottom: 0px;
}


button {
  background-color: transparent;
  border: none;
    cursor: pointer;
    color: #fff;
    font-size: 28px;
}

button:hover {
  color: #7C5DF9;
    font-size: 27px;
}

.logo i:hover {
  color: #7C5DF9;
    font-size: 63px;
}

/* Style the horizontal divider */
.hr {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15%;
}

.divider {
    border: 0.5px solid #555;
  width: 100%;
}

/* Responsive sidebar for smaller screens */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 10%;
  }
}
