/* You can add global styles to this file, and also import other style files */

.mat-typography {
  background-color: #141625;
  height: 100vh;
}

.app2 {
  position: relative;
}

.app2 > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
