<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="update-delete.component.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
<app-side-navbar></app-side-navbar>

<div class="backdiv" routerLink="/invoices">
  <button class="back">
    <i class='bx bx-arrow-back'></i>
  </button>
</div>


<div class="firstbox">
    <div class="labels1" *ngIf="ispaid">
    <label class="label1">
        {{'STATUS' | translate}}
    </label>

    <div class="paid">
      <div class="point">
        <div class="custom-color rounded-circle"></div>
      </div>
      <div>
          <div class="ml-2">{{'PAID' | translate}}</div>
      </div>
    </div>
    </div>

    <div class="labels2" *ngIf="!ispaid">
        <label class="label2">
            {{'STATUS' | translate}}
        </label>
        <div class="draft">
            <div class="point">
                <div class="custom-color2 rounded-circle"></div>
            </div>
            <div>
                <div class="ml-2">{{'DRAFT' | translate}}</div>
      </div>
    </div>
  </div>


  <div class="buutons">
      <button class="btn btn-light" (click)="toggleSidebar()">{{'EDIT' | translate}}</button>
      <button class="btn btn-danger" (click)="deleteInvoice(id)">{{'DELETE' | translate}}</button>
      <button class="btn btn-success" *ngIf="!ispaid" (click)="MarkasPaid()">{{'MARKASPAID' | translate}}</button>
  </div>

</div>

<div class="secondbox">

  <div class="firstRow">
    <div class="idData">
      <label style="font-weight: bold ; font-size: 18px">{{id.substring(0, 5)}}</label>
        <label>{{'REBRANDING' | translate}}</label>
    </div>

    <div class="locationData">
      <label>{{data.StreetAddress}}</label>
      <label>{{data.City}}</label>
      <label>{{data.PostCode}}</label>
    </div>
  </div>


  <div class="secondRow">
    <div class="idData2">
      <div>
          <label>{{'INVOICEDATE' | translate}}</label>
        <br>
        <label style="font-weight: bold ; font-size: 18px">{{data.InvoiceDate}}</label>
      </div>
      <br>
      <div>
          <label>{{'PAYMENTDATE' | translate}}</label>
        <br>
        <label style="font-weight: bold ; font-size: 18px">{{data.PaymentTerm}}</label>
      </div>
    </div>

    <div class="idData3">
      <div>
          <label>{{'BILLTO' | translate}}</label>
      </div>
      <br>
      <div>
        <label>{{data.ClientName}}</label>
        <br>
        <label>{{data.ClientCountry}}</label>
        <br>
        <label>{{data.ClientCity}}</label>
        <br>
        <label>{{data.ClientStreetAddress}}</label>
        <br>
        <label>{{data.ClientPostCode}}</label>
        <br>
      </div>
    </div>
    <div class="locationData2">
        <label>{{'SENTTO' | translate}}</label>
      <br>
      <label style="font-weight: bold">{{data.ClientEmail}}</label>
    </div>
  </div>


  <div class="thirdRow">
    <div class="idData4">
        <label style="width: 25% ; text-align: center">{{'ITEMNAME' | translate}}</label>
        <label style="width: 25% ; text-align: center">{{'ITEMQTY' | translate}}.</label>
        <label style="width: 25% ; text-align: center">{{'ITEMPRICE' | translate}}</label>
        <label style="width: 25% ; text-align: center">{{'ITEMTOTAL' | translate}}</label>
    </div>
      <div class="thirdRow" *ngFor="let item of data.items; let i = index">
          <div class="idData4">
              <label style="width: 25% ; text-align: center">{{ item.itemName }}</label>
              <label style="width: 25% ; text-align: center">{{ item.qty }}</label>
              <label style="width: 25% ; text-align: center">{{ item.price }}</label>
              <label style="width: 25% ; text-align: center">{{ item.total }}</label>
          </div>
      </div>


      <div class="locationData3">
          <label style="font-weight: bold ; font-size: 16px ; width: 25% ; text-align: center">{{'AMOUNTDUE' | translate}}</label>
          <label style="font-weight: bold ; font-size: 25px ; width: 25% ; text-align: center"></label>
          <label style="font-weight: bold ; font-size: 25px ; width: 25% ; text-align: center"></label>
          <label style="font-weight: bold ; font-size: 25px ; width: 25% ; text-align: center">${{totale}}</label>
    </div>
  </div>


</div>


<app-slider-update [objectArray]="data" [isSidebarOpen]="isSidebarOpen"></app-slider-update>

</body>
</html>



